<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogFile="/app/temp/internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--改造拼凑的json输出,因为需要输出自定义实体logentity,所以message是自定义实体logentity的json化,本身满足json格式,不能放在引号里面-->
    <!--{ "timeStamp": "", "level": "", "logger": "", "threadid": "", "message": { "logkey": "", "ip": "", ... } }-->
    <target name="jsonlog"
            xsi:type="File"
            encoding="utf-8"
            archiveNumbering="Date"
            archiveEvery="Day"
            archiveDateFormat="yyyy-MM-dd"
            fileName="/app/log/com/demo/${shortdate}-${level}.log"
            layout="{ &quot;timeStamp&quot;: &quot;${longdate}&quot;, &quot;level&quot;: &quot;${level:uppercase=true}&quot;, &quot;logger&quot;: &quot;${logger}&quot;, &quot;threadid&quot;: &quot;${threadid}&quot;, &quot;log&quot;: ${message} }" />
  </targets>

  <rules>
    <logger name="log" minlevel="trace" writeTo="jsonlog" />
  </rules>
</nlog>